.detailContainer {

    .mapContainer {
        height: 580px;
        width: 100%;
    }

    .details {
        height: 980px;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        padding-left: 5%;
        padding-right: 5%;

        .cardPosition {
            position: absolute;
            top: 835px;
        }

        .alignleft {
            flex: 50%;
            height: 100%;
            .detailText {
                height: 370px;
                background-color: #2c2c2c;
                color: #000000;
                p {
                    font-size: 14px;
                    line-height: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .startContainer {
                    display: flex;
                    flex-direction: row-reverse;
    
                    .startImage {
                        width: 14px;
                        height: 14px;
                        margin: 2px;
                    }
                }
            }

            .open {
                background-color: green;
                border-radius: 5px;
                padding: 2px 10px 2px 10px;
                position: absolute;
                left: 400px;
                top: 850px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 22px;
            }
            .closed {
                background-color: red;
                border-radius: 5px;
                padding: 2px 10px 2px 10px;
                position: absolute;
                left: 400px;
                top: 850px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 22px;
            }
        }
        
        .alignright {
            flex: 40%;
            height: 100%;

            .carousel {

            }
            .schedule {
                border-collapse: collapse;
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 24px;
                font-weight: 600;
                margin-top: 30px;

                .row:nth-child(even) { 
                    background-color: #ccc;
                    height: 30px;
                }
                .col {
                    text-align: left;
                    padding: 8px;
                    color: #000000;
                    &:nth-child(2) {
                        text-align: right;
                    }
                }
                // th {
                //     background-color: #4CAF50;
                //     color: white;
                // }
            }
              

        }
    }
}

