.detailContainer {

    .mapContainer {
        height: 580px;
        width: 100%;
    }

    .details {
        height: 980px;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: -160px;

        .cardPosition {
            position: absolute;
            top: 835px;
            @media (max-width: 767px) {
                top: 900px;
            }
        }

        .alignleft {
            flex: 50%;
            height: 100%;
            @media (max-width: 767px) {
                flex: unset;
            }
            .detailText {
                height: 370px;
                background-color: #2c2c2c;
                color: #000000;
                p {
                    font-size: 14px;
                    line-height: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .startContainer {
                    display: flex;
                    flex-direction: row-reverse;
    
                    .startImage {
                        width: 14px;
                        height: 14px;
                        margin: 2px;
                    }
                }
            }

            .open {
                background-color: green;
                border-radius: 5px;
                padding: 2px 10px 2px 10px;
                position: absolute;
                left: 400px;
                top: 850px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 22px;
            }
            .closed {
                background-color: red;
                border-radius: 5px;
                padding: 2px 10px 2px 10px;
                position: absolute;
                left: 400px;
                top: 850px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 22px;
            }
        }
        
        .alignright {
            flex: 40%;
            height: 100%;
            @media (max-width: 767px) {
                flex: 100%;
                width: 100%;
                margin-top: 380px;
                height: unset;
            }
            .carousel {
                display: flex;
                height: 200px;
                @media (max-width: 767px) {
                    height: 150px;
                }
                .leftImageContainer {
                    flex: 50%;
                    height: inherit;
                    margin-right: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media (max-width: 767px) { 
                        margin-right: 4px;
                    }
                }
                .rightImageContainer {
                    flex: 50%;
                    height: inherit;
                    margin-left: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media (max-width: 767px) { 
                        margin-right: 4px;
                    }
                }
            }

            .indicatorContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;

                .indicator {
                    background-color: #ccc;
                    border-radius: 40px;
                    height: 15px;
                    width: 15px;
                    margin: 5px;
                    cursor: pointer;
                }
                .indicatorActive {
                    background-color: #2c2c2c;
                    border-radius: 40px;
                    border-width: 1px;
                    height: 15px;
                    width: 15px;
                    margin: 5px;
                    cursor: pointer;
                }
            }

            .schedule {
                border-collapse: collapse;
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 24px;
                font-weight: 600;
                margin-top: 30px;
                background-color: #f9fafc;
                .row:nth-child(even) { 
                    background-color: #ccc;
                    height: 30px;
                }
                .col {
                    text-align: left;
                    padding: 10px;
                    color: #000000;
                    &:nth-child(2) {
                        text-align: right;
                    }
                }
                // th {
                //     background-color: #4CAF50;
                //     color: white;
                // }
            }
              

        }
    }
}

