<div ng-class="vm.style.card">
        <div ng-class="vm.style.imageBack" style="background: linear-gradient(rgba(0, 185, 230, 0.45), rgba(0, 185, 230, 0.45)), url('{{ vm.imageSrc }}')">
                <div ng-class="vm.style.container">
                    <div ng-class="vm.style.startContainer">
                            <img ng-class="vm.style.startImage" src="../../assets/images/star.png"/>
                    </div>
                    
                    <h4><b>{{vm.name}}</b></h4>
                    <div ng-class="vm.style.circle">
                        <img ng-class="vm.style.food" src="../../assets/images/food-icon-png-1.jpg" />
                    </div>
                    <p ng-class="vm.style.descriptionText">
                        {{vm.phone}}
                        <br />
                        {{vm.location.display_address.join(', ')}}
                    </p>
                    <div ng-class="vm.style.viewDetailLink">
                        <a ui-sref="app.details({ id: vm.id })">VIEW DETAILS</a>
                    </div>
                </div>
               
        </div>
</div>