<div ng-class="vm.style.banner">
    <div ng-class="vm.style.front"></div>
    <div ng-class="vm.style.back">
        <div ng-class="vm.style.parent">
                <div ng-class="vm.style.wide">
                    <div ng-class="vm.style.boxLogo">
                        <p>
                            <b>FINE<br />AND</b><br />DINE
                        </p>
                    </div>
                </div>
                <div ng-class="vm.style.narrow">
                    <div ng-class="vm.style.nav">
                            <a ui-sref="app.home">home</a>
                    </div>
                </div>
            </div>
            <h1 ng-class="vm.style.title">
                Experience the best dining nearby
            </h1>
    </div>
</div>